@import url('https://fonts.googleapis.com/css2?family=Amita&family=Grechen+Fuemen&family=Julee&family=Kalam:wght@700&family=Marck+Script&family=Satisfy&display=swap');

:root{
  --green:#27ae60;
  --black:#192a56;
  --light-color:#666;
  --box-shadow:0.5rem 1.5rem rgba(0,0,0,.1);
}
html,body{
  font-size: 90.5%;
  overflow-x: hidden;
  width:100%;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}

.container {
  position: relative;
  width: 100%;
  min-height: 500px;
}
.top-wrapper {
  width:100%;
  height: 100vh;
  position:relative;
  padding: 0 5%;
  display:flex;
}
.back-video{
  position:absolute;
  right:0;
  bottom:0;
  z-index:-1;
  opacity:2;

}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}


.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}
header{
  position: fixed;
  top:0; left:0; right:0;
  background:transparent;
  padding:1rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .logo{
  font-size: 2.5rem;
  height:60px;
  font-weight: bolder;
  margin-left:-140px;
  border: 1px;
  border-radius: 20px;
}

header .navbar a{
  font-size: 25px;
  font-weight:900;
  border-radius: 50%;
  padding: 1rem 2.5rem;
  color: black;
  font-family: 'Marck Script', cursive;
  text-shadow: 1px 1px yellowgreen;
}

header .navbar a.active,

header .navbar a:hover{
  color:#fff;
  background:#ff0000;
  text-shadow: 1px 1px black;
}

header .icons a,header .icons i{
  cursor: pointer;
  margin-left: .7rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  border-radius: 50%;
  background: #040000;
}

header .icons a:hover,header .icons i:hover{
  color: #4f4747;
  background: #3e413f;
  transform: rotate(360deg);
}


header .icons #menu-bars{
  display: none;
}
.wavetext {
  position: relative;
  padding-top:20%;
  text-shadow: 5px 5px 6px #FF0000, 0 0 5px #0000FF;

}
.wavetext span {
  position: relative;
  display: inline-block;
  font-size: 90px;
  font-weight: 1000;
  color: #ffffff;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.5s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

.word {
  perspective: 1000px; 
  padding-top: 420px;
  margin-left:-190px;
}

.word span {
	cursor: pointer;
	display: inline-block;
	font-size: 30px;
	user-select: none;
	line-height: .9;
  font-weight: 1000;
  font-family: 'Lucida Handwriting';
  text-shadow: 3px 3px 5px #FF0000, 3px 3px  #0000FF;
}

.word span:nth-child(1).active {
	animation: balance 1.5s ease-out;
	transform-origin: bottom left;
}

@keyframes balance {
	0%, 100% {
		transform: rotate(0deg);
	}
	
	30%, 60% {
		transform: rotate(-45deg);
	}
}

.word span:nth-child(2).active {
	animation: shrinkjump 1s ease-in-out;
	transform-origin: bottom center;
}

@keyframes shrinkjump {
	10%, 35% {
		transform: scale(2, .2) translate(0, 0);
	}
	
	45%, 50% {
		transform: scale(1) translate(0, -150px);
	}
	
	80% {
		transform: scale(1) translate(0, 0);
	}
}

.word span:nth-child(3).active {
	animation: falling 2s ease-out;
	transform-origin: bottom center;
}

@keyframes falling {
	12% {
		transform: rotateX(240deg);
	}
	
	24% {
		transform: rotateX(150deg);
	}
	
	36% {
		transform: rotateX(200deg);
	}
	
	48% {
		transform: rotateX(175deg);
	}
	
	60%, 85% {
		transform: rotateX(180deg);
	}
	
	100% {
		transform: rotateX(0deg);
	}
}

.word span:nth-child(4).active {
	animation: rotate 1s ease-out;
}

@keyframes rotate {
	20%, 80% {
		transform: rotateY(180deg);
	}
	
	100% {
		transform: rotateY(360deg);
	}
}

.word span:nth-child(5).active {
	animation: toplong 1.5s linear;
}

@keyframes toplong {
	10%, 40% {
		transform: translateY(-48vh) scaleY(1);
	}
	
	90% {
		transform: translateY(-48vh) scaleY(4);
	}
}
@import url("https://fonts.googleapis.com/css?  family=Lora:400,400i,700,700i");
   
@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset:  20%;
    fill:hsl(0, 0%, 100%)

  }
  
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: hsla(189, 68%, 75%,0%)
  }
  
}
.text
{
  position: relative;
  z-index:10;
}

.text p
{
  font-family:'Papyrus';
  font-size: 22px;
  color: #fff;
  margin: 20px 0;
  font-weight: 900;
  max-width: 700px;
  padding-top:460px;
  margin-left:-470px;
  text-shadow: 2px 2px 4px #FF0000, 2px 2px  #0000FF;
}
.text a
{
  display: inline-block;
  font-size: 20px;
  background:#ff0000;
  padding: 7px 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
  margin-left:-470px;
  border:1px;
  border-radius:5px;
  text-shadow:0.5px 0.5px 1px #b3f207;
  font-family: 'Bree Serif', serif;
  
}
.text a:hover
{
  letter-spacing: 6px;
}
.social
{
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:5px;
  margin-top:-10%;
}
.social li
{
  list-style: none;
}
.social li img{
  height:45px;
  width:40px;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
  margin-top:-100px;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}
.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color:#3604C3;
  font-family: 'Margarine';
  font-size: 25px;
  text-shadow: 0 2px black ;
}

.heading h2 {
  font-weight: normal;
}
.sub-heading{
  text-align: center;
  color: var(--green);
  font-size: 2rem;
  padding-top: 1rem;
}


.txt-contents {
  width: 70%;
  display: flex;
  font-size: 15px;
  color:#F2F1DC;
  font-family: 'Amaranth';
  position:center;
  padding-left:70px;
}
.heading h3 {
  font-weight: normal;
}
.message-wrapper {
  border-bottom: 1px solid #eee;
  margin-bottom: 100px;
  text-align: center;
}
footer{
  background-color: rgb(29, 10, 10);
  position: relative;
  width: 100%;
  min-height: 300px;
  padding: 1.4rem 1rem;
}
.container-foot{
 max-width: 1140px;
 margin: 0 auto;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 padding-top:40px;
 height:300px;
}
.row{
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.col{
 min-width: 310px;
 color:#f2f2f2f2;
 font-family: poppins;
 padding:0 1rem;
}
.col .logo{
 width: 80px;
 margin-bottom:25px;
 border:1px;
 border-radius: 25px;
}
.col h3{
 color:rgb(251, 115, 4);
 margin-bottom: 20px;
 position: relative;
 cursor: pointer;
 font-size: 30px;
 margin-left:60px;
}
.col h3::after{
 content: '';
 height:3px;
 width:0px;
 background-color: rgb(255, 111, 1);
 position: absolute;
 bottom: 0;
 left:0;
 transition: 0.3s ease;

}
.col h3:hover::after{
 width:30px
}
.col .social a i{
 color:#ff014fff;
 margin-right: 20px;
 transition: 0.3s ease;
 font-size:30px;
}
.col .social a i:hover{
 transform: scale(1.5);
 filter:grayscale(25);
}
.col .links a{
 display: block;
 text-decoration: none;
 color:#f2f2f2;
 margin-bottom: 5px;
 position: relative;
 transition: 0.3s ease;
 font-size:20px;
 margin-left:60px;
}
col .links a::before{
 content:'';
 height: 16px;
 width:3px;
 position: absolute;
 top:5px;
 left:-10px;
 background-color: #ff014fff;
 transition: 0.5s ease;
 opacity: 0;
}
.col .links a:hover::before{
 opacity: 1;
}
.col .links a:hover{
 transform: translateX(-8px);
 color:#ff014fff;
}
.col .contact-details{
 display: inline-flex;
 justify-content: space-between;
 font-size: 17px;
 padding-bottom:15px;
}
.col .contact-details i{
 margin-right:15px;
}
.row .form{
 display: flex;
 justify-content: center;
 align-items: center;
 padding:2rem 0;
 padding-top:60px;
}
.row .form input{
 background-color: #1a1c20ff;
 border:0;
 outline:none;
 padding:14px 20px;
 border-radius: 6px;
 border-top-right-radius: 0;
 border-bottom-right-radius: 0;
}
.form button{
 padding:14px 20px;
 border:0;
 border-radius: 6px;
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;
 background-color: #ff014fff;
 cursor:pointer;
}
.credit{
  font-size:30px;
  font-family: 'Marck Script', cursive;
  font-weight:900;
  color:#e60000;
}

/********** Responsive Design ********/
@media(max-width:900px)
{
.row{
 flex-direction: column;
}
.col{
 width: 100%;
 text-align: left;
 margin-bottom: 25px;
}
}
@media(max-width:768px)
{
.row{
 flex-direction: column;
}
.col{
 width: 100%;
 text-align: left;
 margin-bottom: 20px;
}
}

.lesson-wrapper{
  background-color:rgb(0, 0, 0);
  position:relative;
  right:0;
  bottom:0;
}
.message-wrapper{
  height:260px;
}
/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --dark-color-lighten: #f2f5ff;
  --red-card: #a62121;
  --blue-card: #4bb7e6;
  --btn: #141414;
  --btn-hover: #3a3a3a;
  --text: #e0d6d6;
}

/*===== RESET =====*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background-color: var(--dark-color-lighten);
  font-family: "Montserrat", sans-serif;
}
img {
  max-width: 100%;
  height: 100%;
  user-select: none;
}

/*===== CARD =====*/
.container{
  height: 100%;
  width: 850px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position:relative;
}

.card {
  position: relative;
  padding:4rem;
  width: 350px;
  height: 450px;
  box-shadow: -1px 15px 30px -12px rgb(32, 32, 32);
  border-radius: 0.9rem;
  background-image:url("https://static.vecteezy.com/system/resources/thumbnails/007/698/031/original/fire-corner-effect-free-video.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: var(--text);
  cursor: pointer;
  margin:80px;
  box-shadow: 10px 10px 10px rgb(63, 63, 47);
  transition: 0.5s;
  border: 1px solid white;
  border-style: outset;
  
}
.card:hover{
  transform: scale(0.9) translateY(-5px);
}

.product-image {
  height: 230px;
  width:100%;
  transform: translate(0, -1.5rem);
  transition: transform 500ms ease-in-out;
  filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
  margin-bottom:-10px;;
  margin-top:-20px;
}
.product-info {
  text-align: center;
}

.card:hover .product-image {
  transform: translate(-1.5rem, -7rem) rotate(-20deg);
}

.product-info h2 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-top:10px;
  font-family: 'Rye', cursive;
}

.product-info p {
  margin-top:10px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Courgette', cursive;
  margin-left:-36px;
  margin-right:-36px;
}
.price {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top:8px;
  margin-bottom:-10px;
}
.btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.8rem;
}
.buy-btn {
  padding: 0.6rem 3.5rem;
  font-weight: 800;
  font-size: 1.10rem;
  transition: 300ms ease;
  border-radius: 10px;
  font-family: Courier;
  background: rgb(255, 183, 0);
  border: 2px solid;
  box-shadow: 5px 10px 18px rgb(54, 43, 5);
  cursor:pointer;
}
.buy-btn:hover {
  background-color:rgb(247, 78, 11);
  box-shadow: 5px 10px 18px rgb(54, 43, 5, 1);
}
.fav {
  box-sizing: border-box;
  background: rgb(255, 183, 0);
  padding: 0.5rem 0.5rem;
  border: 1px solid#000;
  display: grid;
  place-items: center;
}

.svg {
  height: 25px;
  width: 25px;
  fill: #fff;
  transition: all 500ms ease;
}

.fav:hover .svg {
  fill: #000;
}
.lesson-wrapper h1{
  color:#ff0000;
  text-align: center;
  padding-top:60px;
  font-family: 'Amita', cursive;
  letter-spacing:2px;
  font-size:35px;

}
@media screen and (max-width: 800px) {
  body {
    height: auto;
  }
  .container {
    padding: 2rem 0;
    width: 100%;
    flex-direction: column;
    gap: 3rem;
  }
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}
#about-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 12%;
    background-color: #000000;
    padding-top:80px;
}
.about-video {
    width: 480px;
    height: auto;
    transform: translateY(50px);
    margin-top:-60px;
    border: 4px solid #ff3300 ;
    border-style: double;
    padding-right:40x;
    border-radius:20px;
}
.about-right {
    width: 54%;
    padding-left:40px;
}

.about-right ul li {
    display: flex;
    align-items: center;
}

.about-right h1 {
    color: #e74d06;
    font-size: 37px;
    margin-bottom: 5px;
    text-align: center;
    padding-bottom:20px;
    font-family: 'Kaushan Script', cursive;
}

.about-right p {
    color: #ffffff;
    line-height: 26px;
    font-size: 23px;
    font-weight:100;
    text-align: left;
    font-family: 'Cookie', cursive;
    letter-spacing: 1px;
    word-spacing:2px ;
}

.about-right .address {
    margin: 25px 0;
}

.about-right .address ul li {
    margin-bottom: 5px;
}

.address .address-logo {
    margin-right: 15px;
    color: #e74d06;
}

.address .saprater {
    margin: 0 35px;
}

.about-right .expertise ul {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expertise h3 {
    margin-bottom: 10px;
}

.expertise .expertise-logo {
    font-size: 19px;
    margin-right: 10px;
    color: #e74d06;
}

@media screen and (max-width: 800px) {
  body {
    height: auto;
  }
  .container-about{
    padding: 2rem 0;
    width: 100%;
    flex-direction: column;
    gap: 3rem;
  }
}
.container-rev{
  position: relative;
  display:flex;
  width: 100%;
  min-height: 500px;
  background-color: #000000;
  padding-top:10px;
  padding-bottom:10px;
  justify-content: space-evenly;
}
.container-rev .contents-wraper{
  width: 90%;
  min-height: inherit;
  margin: 30px auto;
  text-align: center;
  padding-left: 60px;
}
.contents-wraper .header h1{
  position: relative;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  color:whitesmoke;
  font-family: "Audiowide", sans-serif;
  text-shadow: 3px 3px 3px #c99e7c;
  padding-bottom: 20px;
  
}
.contents-wraper .testRow{
  width: 100%;
  min-height:400px;
  position: relative;
  overflow: hidden;
  
}
.testRow .testItem{
  width: 1200px;
  min-height: 320px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgb(203, 219, 219);
  border:.1rem solid rgb(215, 224, 227);
  border-radius:20px;
  margin:20px;
  box-shadow: 10px 15px 20px rgb(150, 89, 9);
  padding-top:25px;
  padding-bottom:20px;
}
.testRow .testItem:not(.active){
  top: 0;
  left: -120%;
}
.testRow .testItem img{
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5px;
  outline: 3px solid #cd5a13;
  outline-offset: 2px;
  margin-top:10px;
}
.testRow .testItem h3{
  font-size: 30px;
  font-style: italic;
  padding: 7px;
  color:white;
  text-shadow: 1px 1px rgb(40, 218, 215);
}
.testRow .testItem h4{
  font-style: italic;
  color:white;
  padding-top:10px;
  font-size:17px;
  
}
.testRow .testItem p{
  font-size: 21px;
  letter-spacing: 1px;
  line-height: 1.2;
  padding: 10px;
  color:#bf00ff;
  font-family: 'Marck Script', cursive;
}
.contents-wraper .indicators{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  cursor: pointer;
}
.contents-wraper .indicators .dot{
  width: 15px;
  height: 15px;
  margin: 0px 3px;
  border: 2px solid #d7860c;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}
.contents-wraper .indicators .active{
  background-color: #11c2ce;
}
.stars i{
  color:rgb(185, 185, 19);
}
@keyframes next1{
  from{
    left: 0%;
  }
  to{
    left: -100%;
  }
}
@keyframes next2{
  from{
    left: 100%;
  }
  to{
    left: 0%;
  }
}

@keyframes prev1{
  from{
    left: 0%;
  }
  to{
    left: 100%;
  }
}
@keyframes prev2{
  from{
    left: -100%;
  }
  to{
    left: 0%;
  }
}

@media(max-width: 550px){
  .container .contents-wraper{
    width: 100%;
  }
  .contents-wraper .header h1{
    font-size: 32px;
  }
  .testRow .testItem h3{
    font-size: 26px;
  }
  .testRow .testItem p{
    font-size: 16px;
    letter-spacing: initial;
    line-height: initial;
  }

}
#custus {
  padding-bottom: 105px;
  background-color: #000000;
  padding-right: 140px;
  background-size: 325px 260px;
  padding-top:10px;
}
.flex-container {
  display: flex;
  justify-content: center;
  padding-top:20px;
  margin-left:140px;
}
#custus p.count {
  color: #ef680f;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  
}
#custus p.title {
  text-align: center;
  font-size: 20px;
  padding-top: 5px;
  color:white;
}

@media(max-width: 550px){
  .container-rev.contents-wraper{
    width: 50%;
  }
  .contents-wraper .header h1{
    font-size: 32px;
  }
  .testRow .testItem h3{
    font-size: 26px;
  }
  .testRow .testItem p{
    font-size: 16px;
    letter-spacing: initial;
    line-height: initial;
  }
  .testRow.testItem{
    height:150%;
  }
}
@media(max-width: 550px){
  .container-cust {
    width: 50%;
  }
  
  .container-cust p{
    font-size: 16px;
    letter-spacing: initial;
    line-height: initial;
    flex-direction: column;
  }

}
@media(min-aspect-ratio:16/9){
  .back-video{
    width:100%;
    height:auto;
  }
}
@media(max-aspect-ratio:16/9){
  .back-video{
    width:auto;
    height:100%;
  }
}